%p.intro
  Click an address to copy the repository's gitjour clone command, i.e. <em>gitjour clone git://macbookpoo.local/pat-cows-not-kittens</em>. If you don't have gitjour installed run: <span class="command">sudo gem install gitjour</span>
%ul#apps
  - @jours.each do |(name, services)|
    %li
      %h4
        = name.to_s
      %ul
        - services.each do |repo|
          %li
            %strong
              = repo.name
            %input{:type => 'text', :value => "git://#{repo.host.gsub(/\.$/,"")}#{repo.port == 9418 ? "" : ":#{repo.port}"}/#{repo.path}", :id => repo.name, :size => 50, :readonly => 'readonly'}
